.nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* border: 5px solid #0b0c0c; */
    width: 100%;
}

.nav p {
    margin-top: 0px;
    color: black;
    font-size: 24px;
    margin-left: 50px;

}
.nav .Eth{
    color:rgb(228, 127, 33);
    /* position: relative;
    left: -190px; */
    
}

.nav .link {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav .link a {
    color: black;
    text-decoration: none;
    padding: 0 25px;
    font-size: 18px;
}

.nav .link a:hover {
    text-decoration: underline;
}
.nav img{
    width: 95px;
    height: 88px;
    border-radius: 50%;
}
.content{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.content img{
    width: 100%;
    height: 500px;
    border-radius: 28px;
}
.content .title{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    }
.content p{
font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 22px;
color: #000000;
padding: 20px;
padding-left: 100px;
padding-right: 50px;
}
.col-3 , .col-md-3{
    display: flex;
font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
color: #000000;
align-items: center;
font-size: 20px;
}
.high{
    color: #C28523;
}
.premium{
    margin-top: 120px;
}
.footer {
    /* border: solid 5px black; */
    margin-top: 250px;
    width: 100vw;
    height: 275.2px;
    background: #186759;
    transform: rotate(6.75deg);
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-left: -15px;
}

.circle {
    width: 260.22px; 
    height: 350.83px; 
    background: #7D1616;
    border-radius: 50%;
    z-index: 0;
    transform: rotate(-6.75deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:35px ;
    float: left;
    margin-right: 350px;
    margin-left: 30px;
}
.circle p{
    position: relative;
    font-size: 25px;
    margin-left: -15px;
    top: 10px;
}
.info{
    transform: rotate(-6.75deg);
    display: flex;
    color: white;
    
    margin-top: -20px;
}
.info1{
    margin-bottom: 100px;
}
.bi-twitter{
    margin-right: 30px;
}
.bi-telephone{
    margin-right: 30px;
}
.info p{
    margin-right: 150px;
}
svg{
    color: white;
}
.circle-icon {
    width: 87px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #186759;
    color: white;
    margin: auto;
}

.circle-icon:hover {
    background-color: #0056b3;
}

.icon-text-wrapper {
    display: flex;
    align-items: center;
}

.icon-text-wrapper a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

.icon-text-wrapper a:hover {
    text-decoration: underline;
}

.tab-content {
    margin-top: 20px;
}
.row .col-md-1{
font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 35px;
text-align: center;
color: #000000;
}
.col-md-1 .num {
font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 35px;
text-align: center;
color: #C28523;
}
#weather .container{
    margin-top: 30px;
    margin-left: 10%;
}
.col p
{
font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 35px;
text-align: center;

color: #C28523;


color: #C28523;
}
.tit{
    color: black;
}
.row{
    margin-left: 0px;
}
.start{
    display: flex;
    width: 161px;
    height: 62px;
    background-color: #7D1616;
  border-radius: 39px;
font-family: 'Hanuman';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 29px;
text-align: center;
color: #FFFFFF;
align-items: center;
justify-content: center;
}
.start a{
    font-family: 'Hanuman';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 29px;
text-align: center;
color: #FFFFFF;
}
.map{
    display: flex;
    justify-content: center;
    align-items: center;
}
.map img{
    margin-right: 70px;
}



